<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Is It New Year ?</title>
</head>
<style>
    p {
        font-size: 100px;
        text-align: center;
        color: rgb(255, 0, 0);
        padding: 0%;
        margin: 0%;
        
    }
</style>
<body>
    {% if is_new_year %}
        <p style="color: blue;">Yes, it is New Year !</p>
    {% else %}
        <p>No, it is not New Year !</p>
    {% endif %}

</body>
</html>